<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./our-services.component.css">
    <title>Our Services</title>
</head>

<body>
    <main>
        <h1>Our Services</h1>
        <div class="services">
            <div class="service">
                <h3>Applications</h3>
                <a href="/realisations"><img src="/assets/applications.jpg" width="250px" height="270px" alt=""></a>
            </div>
            <div class="service">
                <h3>Web sites</h3>
                <a href="/realisations"><img src="/assets/siteweb.jpg" width="250px" height="200px" alt=""></a>
            </div>
            <div class="service">
                <h3>Portfolio</h3>
                <a href="/realisations"><img src="/assets/portfolio.jpg" width="250px" height="250px" alt=""></a>
            </div>
        </div>
    </main>
</body>

</html>