<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./our-skills.component.css">
    <title>Our Skills</title>
</head>

<body>
    <main>
        <h1>Our Skills</h1>
        <div class="skills">
            <div class="sky">
                <div class="skill">
                    <h3>HTML</h3>
                    <img src="https://img.icons8.com/?size=100&id=zRvbzAjx4VWY&format=png&color=000000" alt="image">
                </div>
                <div class="skill">
                    <h3>CSS</h3>
                    <img src="https://img.icons8.com/?size=100&id=21278&format=png&color=000000" alt="image">
                </div>
                <div class="skill">
                    <h3>SCSS</h3>
                    <img src="https://img.icons8.com/?size=100&id=qsQZWvMuX4ad&format=png&color=000000" alt="image">
                </div>
                <div class="skill">
                    <h3>TYPESCRIPT</h3>
                    <img src="https://img.icons8.com/?size=100&id=nCj4PvnCO0tZ&format=png&color=000000" alt="image">
                </div>
            </div>
            <div class="ski">
                <div class="skill">
                    <h3>ANGULAR</h3>
                    <img src="https://img.icons8.com/?size=100&id=dSnah6CSCxRG&format=png&color=000000" alt="image">
                </div>
                <div class="skill">
                    <h3>PYTHON</h3>
                    <img src="https://img.icons8.com/?size=100&id=13441&format=png&color=000000" alt="image">
                </div>
                <div class="skill">
                    <h3>NODE.JS</h3>
                    <img src="https://img.icons8.com/?size=100&id=54087&format=png&color=000000" alt="image">
                </div>
                <div class="skill">
                    <h3>JAVASCRIPT</h3>
                    <img src="https://img.icons8.com/?size=100&id=108784&format=png&color=000000" alt="image">
                </div>
            </div>
        </div>
    </main>
</body>

</html>