<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.component.css">
    <title>Home</title>
</head>
<body>
    <main>
        <h1>Wellcome to S.T Ruth's portfolio.</h1>
        <div class="sections">
            <div class="section">
                <h3>SKILLS</h3>
                <a href="/our-skills"><img src="/assets/skills.jpg" alt="" width="250px"></a>
            </div>
            <div class="section">
                <h3>SERVICES</h3>
                <a href="/our-services"><img src="/assets/services.jpg" alt="" width="250px" height="250px"></a>
            </div>
            <div class="section">
                <h3>REALISATIONS</h3>
                <a href="/realisations"><img src="/assets/realisations.jpg" alt="" width="250px"></a>
            </div>
            <div class="section">
                <h3>CONTACT</h3>
                <a href="/contact"><img src="/assets/contact.jpg" alt="" width="250px" height="250px"></a>
            </div>
        </div>
    </main>
</body>
</html>