{{!-- <ul class="navbar">
    {{#each data}}
    <li class="logo">{{logo}}</li>
    <li class="nav">
        <a href="">{{home}}</a>
        <a href="">{{aboutUs}}</a>
        <a href="">{{contactUs}}</a>
    </li>
    {{/each}}
</ul> --}}