<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./contact.component.css">
    <title>Contact Us</title>
</head>

<body>
    <main>
        <h1>Contact Us</h1>
        <form action="" method="post">
            <div id="inputs">
                <!-- <label for="name">Name:</label> -->
                <input class="info" type="text" name="name" placeholder="Please enter your name" required>
                <!-- <label for="email">Email:</label> -->
                <input class="info" type="text" name="email" placeholder="Please enter your email" required>
            </div>
            <div id="message">
                <!-- <label for="message">Your message:</label> -->
                <textarea class="message" name="message" rows="5" placeholder="Write your message here." required></textarea>
            </div>
            <br>
            <button>Send message</button>
        </form>
    </main>
</body>

</html>