/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    color: blue;
    margin-top: 30px;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.51);
}