<nav>
    <li><a routeLinkActive="isative" href="/">Home</a></li>
    <li><a href="/our-services">Our Services</a></li>
    <li><a href="/our-skills">Our Skills</a></li>
    <li><a href="/realisations">Realisations</a></li>
    <li><a href="/contact">Contact</a></li>
</nav>

<!-- <app-home></app-home>
<app-our-services></app-our-services>
<app-our-skills></app-our-skills>
<app-realisations></app-realisations>
<app-contact></app-contact> -->


<router-outlet></router-outlet>
<footer style="font-size: large;">portfolio copyrigth&copy; 2024</footer>