<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./realisations.component.css">
    <title>Realisations</title>
</head>

<body>
    <main>
        <h1>Our Realisations</h1>
        <section class="realisations">
            <p>Here you can see all what we have done concerning our diffrent skills. To know more about each of our
                realisations you can visite apps and web-sites and apreciate.</p>
            <h2>Here are the diffrent apps I have created till now.</h2>
            <div class="style1">
                <div class="style2 app">
                    <h3>Pharma-co</h3>
                    <div class="pharma style3">
                        <img src="" alt="">
                        <p>This is online hospital. It has been done to help people to have care without beeing oblige
                            to
                            leave thier places.</p>
                    </div>
                </div>
                <div class="style2 app">
                    <h3>Royal-F</h3>
                    <div class="royal style3">
                        <img src="" alt="">
                        <p>I have created this app especially for women. It is to help them to express thier selves and
                            find
                            help easely with confidence and assurance.</p>
                    </div>
                </div>
                <div class="style2 app">
                    <h3>Immo-Card</h3>
                    <div class="immo style3">
                        <img src="" alt="">
                        <p>By seeing how it is difficult to buy lands with every details correct as it has to be, I
                            decided
                            to create this app for seller to Show wath they have with all details and for clients to be
                            sure
                            of what they are caring of.</p>
                    </div>
                </div>
            </div>
            <h2>This section is for the diffrent web-sites I have created.</h2>
            <div class="style1">
                <div class="style2 site">
                    <h3>Way to travel</h3>
                    <div class="way style3" style="color: black;">
                        <img src="" alt="">
                        <p>This site is to have dayly informations about differnt availaible travelings.</p>
                    </div>
                </div>
                <div class="style2 site">
                    <h3>Best food</h3>
                    <div class="food style3">
                        <img src="" alt="">
                        <p>The creation of this site is based on the way to know what exactly contains each food that is
                            sold on the market. That will allous everyone to know exactly what they are eating in type
                            of glucid, proteine, potacium, calcium and other...</p>
                    </div>
                </div>
                <div class="style2 site">
                    <h3>Location</h3>
                    <div class="location style3" style="color:black;">
                        <img src="" alt="">
                        <p>We have created this site to help people to find availaible houses, room and others for
                            location.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>